<form action="/links" method="post">
  <label>Title
    <input type="text" name="title">
  </label>
  <label>URL
    <input type="text" name="url">
  </label>
  <label>Tags (separate with comma)
    <input type="text" name="tags">
  </label>
  <input type="submit" value="Submit">
</form>
