<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Links</title>
  </head>
  <body>
    <h1>Links</h1>
    <ul id='links'>
      <% @links.each do |link| %>
      <li>
        <%= link.title %> (<%= link.url %>). Tags:
        <% link.tags.each do |tag| %>
          <%= tag.name %>;
          <% end %>
      </li>
      <% end %>
    </ul>
  </body>
</html>
