<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Links for <%=@tag%></title>
  </head>
  <body>
    <h1>Links</h1>
    <ul id='links'>
      <% @links.each do |link| %>
      <li>
        <%= link.title %> (<%= link.url %>)
      </li>
      <% end %>
    </ul>
  </body>
</html>
